ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */
.helmet {
  padding: -10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: black;
  color: white;
}
.head {
  width: 50%;
  height: 150px;
  margin-left: 20%;
  text-align: center;
  color: white;
  background-color: black;
  clear: both;
  padding-top: 75px;
  margin-top: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.block {
  float: left;
  width: 75%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
  background-color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.blocktitle {
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 30px;
  font-style: italic;
}
.rightpane{
  float: left;
  width: 20%;
  height: 100%;
  text-align: left;
  padding-left: 5px;
  background-color: white;
}

#A00{
  background: grey;
  width: 5%;
  height: 5%;
}

#A01{
  background: grey;
  width: 5%;
  height: 5%;
}

#A02{
  background: grey;
  width: 5%;
  height: 5%;
}

#A03{
  background: grey;
  width: 5%;
  height: 5%;
}

#A04{
  background: grey;
  width: 5%;
  height: 5%;
}

#A05{
  background: grey;
  width: 5%;
  height: 5%;
}

#A06{
  background: grey;
  width: 5%;
  height: 5%;
}

#A07{
  background: grey;
  width: 5%;
  height: 5%;
}

#A08{
  background: grey;
  width: 5%;
  height: 5%;
}

#A09{
  background: grey;
  width: 5%;
  height: 5%;
}

#A10{
  background: grey;
  width: 5%;
  height: 5%;
}

#A11{
  background: grey;
  width: 5%;
  height: 5%;
}

#A12{
  background: grey;
  width: 5%;
  height: 5%;
}

#A13{
  background: grey;
  width: 5%;
  height: 5%;
}

#A14{
  background: grey;
  width: 5%;
  height: 5%;
}

#A15{
  background: grey;
  width: 5%;
  height: 5%;
}

#A16{
  background: grey;
  width: 5%;
  height: 5%;
}

#A17{
  background: grey;
  width: 5%;
  height: 5%;
}

#A18{
  background: grey;
  width: 5%;
  height: 5%;
}

#A19{
  background: grey;
  width: 5%;
  height: 5%;
}

#A20{
  background: grey;
  width: 5%;
  height: 5%;
}

#A21{
  background: grey;
  width: 5%;
  height: 5%;
}

#A22{
  background: grey;
  width: 5%;
  height: 5%;
}

#A23{
  background: grey;
  width: 5%;
  height: 5%;
}

#A24{
  background: grey;
  width: 5%;
  height: 5%;
}

#A25{
  background: grey;
  width: 5%;
  height: 5%;
}

#A26{
  background: grey;
  width: 5%;
  height: 5%;
}

#A27{
  background: grey;
  width: 5%;
  height: 5%;
}

#A28{
  background: grey;
  width: 5%;
  height: 5%;
}

#A29{
  background: grey;
  width: 5%;
  height: 5%;
}

#A30{
  background: grey;
  width: 5%;
  height: 5%;
}

#A31{
  background: grey;
  width: 5%;
  height: 5%;
}

#A32{
  background: grey;
  width: 5%;
  height: 5%;
}

#A33{
  background: grey;
  width: 5%;
  height: 5%;
}

#A34{
  background: grey;
  width: 5%;
  height: 5%;
}

#A35{
  background: grey;
  width: 5%;
  height: 5%;
}

#A36{
  background: grey;
  width: 5%;
  height: 5%;
}

#A37{
  background: grey;
  width: 5%;
  height: 5%;
}

#A38{
  background: grey;
  width: 5%;
  height: 5%;
}

#A39{
  background: grey;
  width: 5%;
  height: 5%;
}

#A40{
  background: grey;
  width: 5%;
  height: 5%;
}

#A41{
  background: grey;
  width: 5%;
  height: 5%;
}

#A42{
  background: grey;
  width: 5%;
  height: 5%;
}

#A43{
  background: grey;
  width: 5%;
  height: 5%;
}

#A44{
  background: grey;
  width: 5%;
  height: 5%;
}

#A45{
  background: grey;
  width: 5%;
  height: 5%;
}

#A46{
  background: grey;
  width: 5%;
  height: 5%;
}

#A47{
  background: grey;
  width: 5%;
  height: 5%;
}

#A48{
  background: grey;
  width: 5%;
  height: 5%;
}

#A49{
  background: grey;
  width: 5%;
  height: 5%;
}

#A50{
  background: grey;
  width: 5%;
  height: 5%;
}

#A51{
  background: grey;
  width: 5%;
  height: 5%;
}

#A52{
  background: grey;
  width: 5%;
  height: 5%;
}

#A53{
  background: grey;
  width: 5%;
  height: 5%;
}

#A54{
  background: grey;
  width: 5%;
  height: 5%;
}

#A55{
  background: grey;
  width: 5%;
  height: 5%;
}

#A56{
  background: grey;
  width: 5%;
  height: 5%;
}

#A57{
  background: grey;
  width: 5%;
  height: 5%;
}

#A58{
  background: grey;
  width: 5%;
  height: 5%;
}

#A59{
  background: grey;
  width: 5%;
  height: 5%;
}

#A60{
  background: grey;
  width: 5%;
  height: 5%;
}

#A61{
  background: grey;
  width: 5%;
  height: 5%;
}

#A62{
  background: grey;
  width: 5%;
  height: 5%;
}

#A63{
  background: grey;
  width: 5%;
  height: 5%;
}

#A64{
  background: grey;
  width: 5%;
  height: 5%;
}

#A65{
  background: grey;
  width: 5%;
  height: 5%;
}

#A66{
  background: grey;
  width: 5%;
  height: 5%;
}

#A67{
  background: grey;
  width: 5%;
  height: 5%;
}

#A68{
  background: grey;
  width: 5%;
  height: 5%;
}

#A69{
  background: grey;
  width: 5%;
  height: 5%;
}

#A70{
  background: grey;
  width: 5%;
  height: 5%;
}

#A71{
  background: grey;
  width: 5%;
  height: 5%;
}

#A72{
  background: grey;
  width: 5%;
  height: 5%;
}

#A73{
  background: grey;
  width: 5%;
  height: 5%;
}

#A74{
  background: grey;
  width: 5%;
  height: 5%;
}

#A75{
  background: grey;
  width: 5%;
  height: 5%;
}

#A76{
  background: grey;
  width: 5%;
  height: 5%;
}

#A77{
  background: grey;
  width: 5%;
  height: 5%;
}

#A78{
  background: grey;
  width: 5%;
  height: 5%;
}

