<div class="helmet">
    <div class="head">
        <font color="white">Lab Status</font>
    </div>
</div>


<div class="block">
        Main Body Text
</div>



<div class="rightpane">
    Right panel text
</div>
