<!doctype html>
<html>


<head>
<!--Change path to stylesheet-->
<link type="css/text" rel="stylesheet" href="../../css/style.css">
<title>Title</title>
</head>


<body>
	<header><img src="/img/logo.jpg" alt="Logo" height="160" width="120"></header>
	{{{body}}}
</body>
</html>
